html {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: block;
    min-height: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.4;
    color: rgb(204, 204, 204);
    background-color: rgb(0, 36, 81);
}

header {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 1000;
    text-align: left;
    background-color: rgb(0, 28, 64);
}

header nav {
    position: relative;
    display: block;
    width: 100%;
}

header nav ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-right: 8px;
    list-style: none;
    list-style-image: none;
    line-height: 50px;
}

header nav ul li {
    display: inline-block;
    margin: 0px 5px;
}

header nav ul.main {
    float: left;
}

header nav ul.social {
    float: right;
}

header nav ul.social li {
    float: right;
    font-size: 120%;
    margin: 0px 8px;
}

header .title {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    padding-left: 16px;
}

a {
    text-decoration: none;
    color: rgb(187, 218, 255);
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    margin-bottom: 0px;
}

article {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}

.date-time {
    color: rgb(255, 120, 130);
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.container {
    position: relative;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    display: block;
    background-color: rgb(0, 28, 64);
    font-size: 75%;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
}

pre {
    border-left: 8px solid rgb(0, 28, 64);
    padding-left: 8px;
}

pre code {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    background-color: transparent;
}

blockquote {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: rgb(235, 187, 255);
}
