    <footer>&copy; 2019 Michael Novak <a rel="me" href="https://mstdn.social/@mrn">@mrn</a></footer>

    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
