<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Twitter. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@michaelrnovak">
    <meta name="twitter:creator" content="@michaelrnovak">
    <meta name="twitter:domain" content="michael.novak.org">

    <!-- Open Graph. -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:Section" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ if eq .Section "post" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Libre+Baskerville" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/tomorrow-night-blue.css">
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
