    <header>
        <nav>
            <ul class="title">
                <li><a href="/">{{ .Site.Title }}</a></li>
            </ul>
            <ul class="social">
                <li><a class="fab fa-git-alt" href="https://gitlab.com/mrn"></a></li>
                <li><a class="fab fa-mastodon" rel="me" href="https://mstdn.social/@mrn"></a></li>
                <li><a class="fa fa-rss" href="/index.xml"></a></li>
            </ul>
        </nav>
    </header>